.fa-reddit {
  color: red;
}

input.form-control:focus {
  box-shadow: none !important;
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  border: 1px solid #ced4da;
  outline: none;
}
