body {
  height: 100vh;
  background-color: red;
}

.fa-reddit {
  color: red;
}

input.form-control:focus {
  box-shadow: none !important;
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  border: 1px solid #ced4da;
  outline: none;
}
#Mainbar {
  margin: 40px auto;
  width: 900px;
}

@media (max-width: 600px) {
  #brand {
    display: none;
  }
}
@media (max-width: 500px) {
  .container-fluid {
    flex-wrap: nowrap;
  }
}
